<link rel="stylesheet" href="~/css/Usuario/Agenda.css" asp-append-version="true" />

@model IEnumerable<Obligatorio1.Agenda>

<div class="text-center">
    <h4 class="display-4">Agenda</h4>
</div>


@if(Model != null)
{
    

<div class="tarjetas">
    @foreach (var agenda in Model)
    {
        <div class="card text-center">
            <div class="card-header">
             @agenda.Actividad.Nombre  
            </div>
            <div class="card-body">
                <h5 class="card-title">@agenda.Huesped.Nombre @agenda.Huesped.Apellido</h5>
                <p class="card-text">@{
                        DateTime fn = (DateTime)agenda.Actividad.Fecha;
                    }@fn.ToString("dd/MM/yyyy")</p>
                <p class="card-text">Aca va el costo</p>
                @if (agenda.Actividad is Obligatorio1.ActividadHostal){
                        Obligatorio1.ActividadHostal acthostal = agenda.Actividad as Obligatorio1.ActividadHostal;
                        
                        <p class="card-text">Lugar: @acthostal.Lugar</p>
                    }
                    else
                    {
                        Obligatorio1.ActividadTercerizada actterc = agenda.Actividad as Obligatorio1.ActividadTercerizada;
                        <p class="card-text">Proveedor: @actterc.Proveedor.NombreUnico</p>
                }
            </div>
            <div class="card-footer text-muted">
                @if(agenda.Estado == true)
                {
                    <p style="color:green">Actividad Confirmada</p>
                }
                else
                {
                    <p style="color:red">Actividad Pendiente de Pago</p>
                        @if(Context.Session.GetString("LogueadoTipo").Equals("Operador")){
                            <a href="@Url.Action("ConfirmarAgenda", "Usuario", new { id = @agenda.Id })">Confirmar</a>
                        }
                }
            </div>
        </div>
    }

</div>

}
else{
    <h5>No cuenta con Actividades agendadas</h5>
}