
@model Obligatorio1.Usuario

<h3>Perfil del Usuario</h3>



<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            @if(Model is Obligatorio1.Huesped)
            {
                <th>
                    Tipo de Documento
                </th>
                <th>
                    Número de documento
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Habitación
                </th>
                <th>
                    Fecha de nacimiento
                </th>
                <th>
                    Nivel de fidelización
                </th>
            }
            @if (Model is Obligatorio1.Operador)
            {
                <th>
                    Nombre
                </th>
                <th>
                    Fecha de ingreso
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>
              @Model.Email
          </td>
            @if (Model is Obligatorio1.Huesped)
            {
                Obligatorio1.Huesped hues = Model as Obligatorio1.Huesped;
                <td>
                    @hues.TipoDocumento
                </td>
                <td>
                    @hues.NumeroDocumento
                </td>
                <td>
                    @hues.Nombre @hues.Apellido
                </td>
                <td>
                    @hues.Habitacion
                </td>
                <td>
                    @{
                        DateTime fn = (DateTime)hues.FechaNacimiento;
                    }
                    @fn.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @hues.NivelFidelizacion
                </td>
            }
            @if (Model is Obligatorio1.Operador)
            {
                Obligatorio1.Operador oper = Model as Obligatorio1.Operador;
                <td>
                    @oper.Nombre @oper.Apellido
                </td>
                <td>
                    @{
                        DateTime fn = (DateTime)oper.FechaEmpezoTrabajar;
                    }
                    @fn.ToString("dd/MM/yyyy")
                </td>
            }
        </tr>
    </tbody>
</table>